body {
    margin: 0;
    background: lightblue;
    text-align: center;
}

.desc{
    text-align:center; 
}

.gallery1{
    float:left;
    margin:20px;
}
.gallery2{
    float:left;
    margin:20px;
}
.gallery3{
    float:left;
    margin:20px;
}