body {
    margin: 0;
    background: lightblue;
    text-align: center;
}

.desc{
    text-align:center; 
}

.gallery{
    width:500px;
    float:left;
}

.gallery1{
    width:500px;
    float:center;
}


